.text {
    margin-top: 75px;
    color: white;
}

.sosmed {
    height: 50px;
    margin-top: 50px;
    margin-left: 75px;
}

.footer {
    background-color:rgb(88, 87, 87);
    height: 150px;
}
  